In [1]:
import numpy as np #для матричных вычислений
import pandas as pd #для анализа и предобработки данных
import matplotlib.pyplot as plt #для визуализации
import seaborn as sns #для визуализации

import sklearn
from sklearn import linear_model #линейные модели
from sklearn import metrics #метрики
from sklearn.model_selection import train_test_split #разделение выборки
from sklearn import preprocessing #предобработка

%matplotlib inline

plt.style.use('seaborn')

In [2]:
churn_data = pd.read_csv('churn.csv')
churn_data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
churn_data = churn_data[churn_data['Geography'] == 'Germany']
churn_data.shape
# (2509, 14)

(2509, 14)

In [4]:
churn_data = churn_data.drop(['Geography', 'RowNumber', 'CustomerId', 'Surname'], axis=1)
churn_data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
7,376,Female,29,4,115046.74,4,1,0,119346.88,1
15,616,Male,45,3,143129.41,2,0,1,64327.26,0
16,653,Male,58,1,132602.88,1,1,0,5097.67,1
26,756,Male,36,2,136815.64,1,1,1,170041.95,0
28,574,Female,43,3,141349.43,1,1,1,100187.43,0

In [5]:
churn_data.isnull().sum()

CreditScore        0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
churn_data['BalanceSalaryRatio'] = churn_data['Balance']/churn_data['EstimatedSalary']
churn_data['TenureByAge'] = churn_data['Tenure']/(churn_data['Age'])
churn_data['CreditScoreGivenAge'] = churn_data['CreditScore']/(churn_data['Age'])

In [7]:
churn_data['Gender'] = churn_data['Gender'].apply(lambda x: 1 if x=='Male' else 0)
churn_data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,BalanceSalaryRatio,TenureByAge,CreditScoreGivenAge
7,376,0,29,4,115046.74,4,1,0,119346.88,1,0.963969,0.137931,12.965517
15,616,1,45,3,143129.41,2,0,1,64327.26,0,2.225020,0.066667,13.688889
16,653,1,58,1,132602.88,1,1,0,5097.67,1,26.012449,0.017241,11.258621
26,756,1,36,2,136815.64,1,1,1,170041.95,0,0.804599,0.055556,21.000000
28,574,0,43,3,141349.43,1,1,1,100187.43,0,1.410850,0.069767,13.348837

In [8]:
X = churn_data.drop("Exited", axis=1)
y = churn_data["Exited"]

In [9]:
scaler = preprocessing.MinMaxScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)
X_scaled

array([[5.20000000e-02, 0.00000000e+00, 1.66666667e-01, ...,
        7.26732600e-05, 2.75862069e-01, 1.70146116e-01],
       [5.32000000e-01, 1.00000000e+00, 4.09090909e-01, ...,
        1.91478154e-04, 1.33333333e-01, 1.88106386e-01],
       [6.06000000e-01, 1.00000000e+00, 6.06060606e-01, ...,
        2.43251754e-03, 3.44827586e-02, 1.27766348e-01],
       ...,
       [6.46000000e-01, 1.00000000e+00, 4.39393939e-01, ...,
        4.89829532e-04, 4.25531915e-02, 2.03754830e-01],
       [7.28000000e-01, 1.00000000e+00, 2.27272727e-01, ...,
        4.33273386e-05, 1.81818182e-01, 3.85430667e-01],
       [8.44000000e-01, 1.00000000e+00, 3.63636364e-01, ...,
        5.80009051e-05, 1.42857143e-01, 3.04603523e-01]])

In [10]:
y.value_counts(normalize=True)

0    0.675568
1    0.324432
Name: Exited, dtype: float64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=0)

print('Train shape: {}'.format(X_train.shape))
print('Test shape: {}'.format(X_test.shape))

# Train shape: (1881, 12)
# Test shape: (628, 12)

Train shape: (1881, 12)
Test shape: (628, 12)

In [12]:
print('Train :', y_train.value_counts(normalize=True))
print('\n')
print('Test :', y_test.value_counts(normalize=True))

Train : 0    0.675704
1    0.324296
Name: Exited, dtype: float64


Test : 0    0.675159
1    0.324841
Name: Exited, dtype: float64

In [13]:
from sklearn.linear_model import SGDClassifier

In [14]:
#Создаём объект класса X_train с solver='sag'
sgd_lr_lstat = linear_model.LogisticRegression(random_state=42, solver='sag')
sgd_lr_lstat.fit(X_train, y_train)
y_tren_pred = sgd_lr_lstat.predict(X_train)
y_test_pred = sgd_lr_lstat.predict(X_test)

In [15]:
print(metrics.classification_report(y_train, y_tren_pred))

              precision    recall  f1-score   support

           0       0.76      0.89      0.82      1271
           1       0.63      0.40      0.49       610

    accuracy                           0.73      1881
   macro avg       0.69      0.64      0.65      1881
weighted avg       0.72      0.73      0.71      1881

In [16]:
print(metrics.classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.75      0.89      0.81       424
           1       0.63      0.38      0.47       204

    accuracy                           0.72       628
   macro avg       0.69      0.63      0.64       628
weighted avg       0.71      0.72      0.70       628

In [17]:
#Инициализируем стандартизатор StandardScaler
scaler = preprocessing.StandardScaler()
#Подгоняем параметры стандартизатора (вычисляем среднее и СКО)
scaler.fit(X_train)
#Производим стандартизацию тренировочной выборки
X_train_scaled = scaler.transform(X_train)
#Производим стандартизацию тестовой выборки
X_test_scaled = scaler.transform(X_test)
 
#Создаём генератор полиномиальных признаков
poly = preprocessing.PolynomialFeatures(degree=3, include_bias=False)
poly.fit(X_train_scaled)
#Генерируем полиномиальные признаки для тренировочной выборки
X_train_scaled_poly = poly.transform(X_train_scaled)
#Генерируем полиномиальные признаки для тестовой выборки
X_test_scaled_poly = poly.transform(X_test_scaled)
#Выводим результирующие размерности таблиц
 
print(X_train_scaled_poly.shape)
print(X_test_scaled_poly.shape)

(1881, 454)
(628, 454)

In [23]:
#Создаём объект класса X_train с solver='sag'
sgd_lr_lstat = linear_model.LogisticRegression(random_state=42, solver='sag', max_iter = 1000)
#Обучаем модель по МНК
sgd_lr_lstat.fit(X_train_scaled_poly, y_train)
#Делаем предсказание 
y_train_predict_poly  = sgd_lr_lstat.predict(X_train_scaled_poly)
y_test_predict_poly  = sgd_lr_lstat.predict(X_test_scaled_poly)

print("Train R^2: {:.3f}".format(metrics.r2_score(y_train, y_train_predict_poly)))
print("Test R^2: {:.3f}".format(metrics.r2_score(y_test, y_test_predict_poly)))

Train R^2: -0.160
Test R^2: -0.242

C:\Users\79289\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:352: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [19]:
print(metrics.classification_report(y_train, y_tren_pred))

              precision    recall  f1-score   support

           0       0.82      0.81      0.81      1271
           1       0.61      0.62      0.61       610

    accuracy                           0.75      1881
   macro avg       0.71      0.71      0.71      1881
weighted avg       0.75      0.75      0.75      1881

In [20]:
print(metrics.classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.82      0.76      0.79       424
           1       0.57      0.65      0.61       204

    accuracy                           0.73       628
   macro avg       0.70      0.71      0.70       628
weighted avg       0.74      0.73      0.73       628

In [22]:
sklearn.__version__

'1.0.2'